@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes lineGrow {
    0% {
      width: 0;
    }
    100% {
      width: 75%; 
    }
}

.animate-line {
    animation: lineGrow 2s ease-in-out forwards;
    width: 75%; /* Same width as specified in the keyframes */
}

.perspective-1000 {
  perspective: 1000px;
}

/* CSS for background of Projects page */

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.bg-custom-pattern {
  background: linear-gradient(135deg, #EDF9FE 0%, #C1EFFF 100%);
  position: relative;
  overflow: hidden; /* Ensure child elements stay within the parent */
}

.bg-custom-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/svgs/Patterns/project-bg-pattern.svg');
  background-size: cover;
  opacity: 0.4;
  pointer-events: none;
  z-index: 0; /* Ensure it stays at the bottom */
}

/* CSS for the Projects page title */
.text-4xl {
  font-size: 2.25rem; /* 36px */
}

.md\\:text-6xl {
  font-size: 4rem; /* 64px */
}

.font-bold {
  font-weight: 700;
}

.text-neutral-800 {
  color: #2d3748; /* Darker gray */
}

.dark\\:text-white {
  color: #ffffff; /* White text for dark mode */
}

.mb-12 {
  margin-bottom: 3rem; /* 48px */
}

.text-center {
  text-align: center;
}

.text-blue-600 {
  color: #3182ce; /* Blue color */
}

.fill-cyan {
  fill: #318999;
}


