@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lineGrow {
    0% {
      width: 0;
    }
    100% {
      width: 75%; 
    }
}

.animate-line {
    animation: lineGrow 2s ease-in-out forwards;
    width: 75%; /* Same width as specified in the keyframes */
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
